<h3 class="text-center mb-5", id="page_title">機材一覧</h3>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>機材の名前</th>
                    <th>
                </tr>
                </thead>
                    <% @gears.each do |gear| %>
                    <tr>
                        <td><%= gear.name %></td>
                        <td><%= link_to '詳細', gear_path(gear.id) %> / <%= link_to "編集", edit_gear_path(gear.id) %> / <%= link_to '削除', gear_path(gear.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
                    </tr>
                    <% end %>
            </table>
        </div>
    </div>
</div>