<h3 class="text-center mb-5", id="page_title">サービス一覧</h3>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>タイトル</th>
                    <th>
                </tr>
                </thead>
                    <% @services.each do |service| %>
                    <tr>
                        <td><%= service.title %></td>
                        <td><%= link_to '詳細', service_path(service.id) %> / <%= link_to "編集", edit_service_path(service.id) %> / <%= link_to '削除', service_path(service.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>
                    </tr>
                    <% end %>
            </table>
        </div>
    </div>
</div>