<div class="site-wrapper" id="top_page">

	<div class="site-wrapper-inner">

	<div class="cover-container">

		<div class="inner cover">
		<h1 class="cover-heading">Contiを使ってみる</h1>
		<p class="lead">Conti(コンティ)であなたが気に入ったアーティストと</p>
		<p class="lead">直接つながりましょう。</p>
		<p class="lead">

			<%= link_to 'What is Conti?', about_path, class: "btn btn-lg btn-info" %><br><br>
			<%= link_to 'Search Artists', users_path, class: "btn btn-lg btn-secondary" %>
		</p>
		</div>

	</div>

	</div>

</div>
