<h3 class="text-center mb-5", id="page_title">受けたリクエスト一覧</h3>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>タイトル</th>
                    <th></th>
                </tr>
                </thead>
                    <% @requests.each do |request| %>
                    <tr>
                        <td><%= request.title %></td>
                        <td><%= link_to '詳細', request_path(request.id) %>
                    </tr>
                    <% end %>
            </table>
        </div>
    </div>
</div>